{% extends "base.html.twig" %}

{% block title 'Hello City!' %}

{% block body %}

    <img src="{{ asset('images/cameroon-flag.png') }}" alt="Cameroon Flag" class="h32 mt-12 rounded shadow-md" width="20%">
    
    <h1 class="mt-5 text-3xl sm:text-5xl font-semibold text-indigo-600">hello from Cameroon!</h1>

    <p class="text-lg text-gray-800">It's current {{ 'now'|date('h:i A') }}.</p>

{% endblock %}
